# Dependency directories
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env

# Data directories
data/uploads
data/exports

# Logs
logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Test coverage
coverage/
.nyc_output/

# Build directories
dist/
build/