{{> _navbar}}

<div class="container mt-4">
  <div class="alert alert-danger">
    <h4>Server Error</h4>
    <p>{{error}}</p>
  </div>
  <a href="/" class="btn btn-primary">Return to Dashboard</a>
</div>